
.nav-bar{
    display: flex; 
    justify-content: space-between;
}

button{
    background-color: #3882f6;
    font-size: 15px;
    width: 100px;
    height: 33px;
    text-align: center;
    border-radius: 8px;
    border-width: 0px;
}

.links{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    padding: 28px;
}
.header{
    font-size: 48px;
    padding-top: 0px;
}
.landing-image{
    height: 300px; 
    width: auto;
    padding-top: 25px;
}

.main-content{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.main-content-text{
    padding-left: 25px;
    width: 450px;
}
.logo{
    padding: 5px;
    padding-left: 30px;
    font-size: 24px;
}
.background-1{
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 130px;
    font-size: 18px;
}

.background-2{
    margin-bottom: 100px;
}

.flex-heading{
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}
.flex-container{
    display: flex;
    justify-content: center;

}
.flex-items{
    height: 250px;
    width: 250px;
    padding: 0 15px 0 15px;
}
img{
    height:200px;
    width: 200px;
    object-fit: contain;
}

.review{
    text-align: center;
}

.customer-name{
    padding-left: 1100px;
}